@import '../neat/neat-helpers'; // or 'neat-helpers' when in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-down: new-breakpoint(max-width $large-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 8);


// $mobile-size:em(320);
// $tablet-size:720px;
// $desktop-size:em(960);
// $largedesktop-size:em(1050);

// // Bourbon Neat Breakpoints
// $mobile: new-breakpoint(min-width $mobile-size 4);
// $tablet: new-breakpoint(min-width $tablet-size 8);
// $desktop: new-breakpoint(min-width $desktop-size 12);
// $largedesktop: new-breakpoint(min-width $largedesktop-size 16);
