body {
	max-width: 8in;
	font-family: "Liberation Serif", serif;
	so-language: en-US;
}

h1 { font-size: 25pt; }
h2 { font-size: 18pt; }

p.TransmittalLetter {
	font-size: 12pt;
	text-align: left;
	line-height: 150%;
}

.western {
	font-size: 12pt;
	line-height: 200%;
}

p.western { text-indent: 0.5in; }

.Center { text-align: center; }
.Break { page-break-before: always; }

@page { margin-left: 1.5in; margin-right: 1.5in; margin-top: 1in; margin-bottom: 1in }