body {
  margin-left: auto;
  margin-right: auto;
	max-width: 8in;
	font-family: "Times New Roman";
	color: #333333 !important;
}

h1 {
	/* font-size: 25pt; */
	font-size: 30pt;
}
h2 {
	/* font-size: 18pt; */
	font-size: 25pt;
}

p.TransmittalLetter {
	font-size: 12pt;
	text-align: left;
	line-height: 160%;
}

.western {
	/* font-size: 12pt; */
	font-size: 18pt;
	line-height: 200%;
}
p.western {
	text-indent: 0.5in;
}

.Center { text-align: center; }
.Break {
	margin-top: 100px;
	page-break-before: always;
}

/* @page { margin-left: 1.5in; margin-right: 1.5in; margin-top: 1in; margin-bottom: 1in } */