.grid-items
  a.grid-item(href='https://www.linkedin.com/pub/kyle-king/57/4/8b7')
    //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='')
    //- img(src='http://3.bp.blogspot.com/-ZEMBg7Sl--4/U8K3mJW2MPI/AAAAAAAAAYg/I6NRd4-wmIM/s1600/facebook-logo-png-white-5117.png')
    img(src="http://www.iconsdb.com/icons/preview/white/linkedin-3-xxl.png")
    h1 Linkedin
    p Connect with me

  a.grid-item.grid-item-big.grid-item-image.github(href='https://github.com/KyleKing')
    img(src="http://jdpirtle.com/images/social_icons/github_white.png")
    //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png', alt='')
    //
       <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/lake-transparent.png" alt=""> 
    h1 Github
    p See what I'm up to

  a.grid-item.grid-item-big(href='http://bikingagainstcancer.com')
    img(src='http://bikingagainstcancer.com/img/logo_bikeW.png', alt='')
    h1 Biking Against Cancer Blog
    p
      | $5,450 and Counting for the Ulman Cancer Fund!
  a.grid-item(href='https://wiseguy.com/tutor/KyleK')
    img(src='public/logo-wiseguy.png', alt='')
    h1 Wise Guy Mentoring
    p Need help with your homework?

  a.grid-item(href='http://facebook.com/kmking72')
    img(src='http://png-1.findicons.com/files/icons/2779/simple_icons/1024/facebook.png', alt='')
    h1 Facebook
    p Connect with me

  a.grid-item(href='https://twitter.com/Kyle4Miles')
    img(src='http://www.liviocapalbo.com/img/twitter-icon_white.png', alt='')
    h1 Twitter
    p Tweet tweet

  a.grid-item(href='http://instagram.com/kylelikesbikes')
    img(src='http://aweebitirish.com/wp-content/uploads/2014/03/instagram-white-logo.png', alt='')
    h1 Instagram
    p What biking across the country looks like
