**/imgs/favicons
.DS_Store
.vscode/*
*.ico
*.log
*.mov
*.mp4
*.pyc
*.scpt
*.svg
JavaScript/Eric_Microfluidic_ControllerApp/data/photos
logs/*
Meteorjs/Meteor-Playground-master/VitaLink/settings.json
Meteorjs/Pomodoro/Pomodoro-27dd7907c400.json
mup.json
node_modules
Raspberry_Pi/PhotoFrame/imgs
Recipes/alt.md
Recipes/imgs/IMG*.jpg
secret_backup.json
secret.*
z_notInterested.lua
