template(name='login')
  #center
    h1.intro Login as a Patient to see sample treatment plans
    button#patient0 Kylie
    button#patient1 Dr. Bailey
    button#patient2 Dr. Suarez
  #center
    h1.intro Login as a doctor to edit and prescribe treatment plans to patients
    button#doctor Doctor