//- head
//-   meta(charset='utf-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1')
//-   meta(name='description' content='')
//-   meta(name='author' content='')
//-   title SB Admin 2 - Bootstrap Admin Theme
//-   //- Bootstrap Core CSS
//-   link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
//-   //- MetisMenu CSS
//-   link(href='../bower_components/metisMenu/dist/metisMenu.min.css' rel='stylesheet')
//-   //- Custom CSS
//-   link(href='../dist/css/sb-admin-2.css' rel='stylesheet')
//-   //- Morris Charts CSS
//-   link(href='../bower_components/morrisjs/morris.css' rel='stylesheet')
//-   //- Custom Fonts
//-   link(href='../bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
//-   //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//-   //- WARNING: Respond.js doesn't work if you view the page via file://
//-   //if lt IE 9
//-     script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
//-     script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
//- body
template(name='morris')
    #page-wrapper
      .row
        .col-lg-12
          h1.page-header Morris.js Charts
        //- /.col-lg-12
      //- /.row
      .row
        .col-lg-6
          .panel.panel-default
            .panel-heading
              | Area Chart Example
            //- /.panel-heading
            .panel-body
              #morris-area-chart
            //- /.panel-body
          //- /.panel
        //- /.col-lg-6
        .col-lg-6
          .panel.panel-default
            .panel-heading
              | Bar Chart Example
            //- /.panel-heading
            .panel-body
              #morris-bar-chart
            //- /.panel-body
          //- /.panel
        //- /.col-lg-6
        .col-lg-6
          .panel.panel-default
            .panel-heading
              | Line Chart Example
            //- /.panel-heading
            .panel-body
              #morris-line-chart
            //- /.panel-body
          //- /.panel
        //- /.col-lg-6
        .col-lg-6
          .panel.panel-default
            .panel-heading
              | Donut Chart Example
            //- /.panel-heading
            .panel-body
              #morris-donut-chart
            //- /.panel-body
          //- /.panel
        //- /.col-lg-6
        .col-lg-12
          .panel.panel-default
            .panel-heading
              | Morris.js Usage
            //- /.panel-heading
            .panel-body
              p
                | Morris.js is a jQuery based charting plugin created by Olly Smith. In SB Admin, we are using the most recent version of Morris.js which includes the resize function, which makes the charts fully responsive. The documentation for Morris.js is available on their website,
                a(target='_blank' href='http://morrisjs.github.io/morris.js/') http://morrisjs.github.io/morris.js/
                | .
              a.btn.btn-default.btn-lg.btn-block(target='_blank' href='http://morrisjs.github.io/morris.js/') View Morris.js Documentation
            //- /.panel-body
          //- /.panel
        //- /.col-lg-6
      //- /.row
    //- /#page-wrapper
  //- /#wrapper

  //- //- jQuery
  //- script(src='../bower_components/jquery/dist/jquery.min.js')
  //- //- Bootstrap Core JavaScript
  //- script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
  //- //- Metis Menu Plugin JavaScript
  //- script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
  //- //- Morris Charts JavaScript
  //- script(src='../bower_components/raphael/raphael-min.js')
  //- script(src='../bower_components/morrisjs/morris.min.js')
  //- script(src='../js/morris-data.js')
  //- //- Custom Theme JavaScript
  //- script(src='../dist/js/sb-admin-2.js')
