
header {
	padding-top: 20px;
	padding-bottom: 20px;
}

/**
 * Control Panel Buttons (Right Panel)
 */

.right-title {
	margin: 20px;
}

/* @media (min-width: 500px) { */
.custom-button-formatting {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	margin: 10px;
}
/*}*/

/**
 * Control Panel Step List (Right Panel)
 */

ul {
	padding-left: 40px;
	padding-right: 40px;
}

ul li {
	border-radius:3px;
	color: white;
	list-style:none;
	margin-bottom: 15px;
	padding: 10px;
	position:relative;
}

/* Status Colors */
ul li {
	background-color: RGB(52, 73, 94);
}

.alarm-buttons {
	text-align: right;
}

span {
	margin-left: 20px;
}

/**
 * Both Panels to Align Vertically
 */

.live-image {
	padding-bottom: 10px;
	padding-top: 10px;
}
@media (min-width: 992px) {
	.live-image {
		padding-top: 60px;
	}
}


input {
	color: RGB(52, 73, 94);
}
