<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>Writefull</string>
	<key>Extension Description</key>
	<string>Open Writefull for the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.kyleking.extension.Writefull</string>
	<key>Extension Image File</key>
	<string>delete.png</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Wrtfl</string>
			<key>Key Combo</key>
			<dict>
				<key>keyCode</key>
				<integer>37</integer>
				<key>modifiers</key>
				<integer>262144</integer> <!-- Control Key -->
			</dict>
		</dict>
	</array>
</dict>
</plist>
