template(name="menu")
  .navMenu
    .navIcon
      a(href="/")
          img(src='numOneFan.png')
    ul.navItems
      li.navButton.left
        a(href="/") home
      li.navButton.right
        a(href="/") spend money