template(name="main")
  html
    head
      title PILLSPILLSPILLS
      //- Open Graph protocol to make this shareable via facebook/social media:
      //- More info here: http://ogp.me
      meta(property="og:title" content="UMD Campus Bike Share of the Future")
      meta(property="og:type" content="website")
      meta(property="og:image" content="logo/RedBarsLogo.png")
      meta(property="og:url" content="http://teambikes.meteor.com")
    body
      +menu
      +pills