head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='#2C3E50')
      //- meta(http-equiv="X-UA-Compatible", content="IE=edge")
      title VitaLink
      meta(name='description', content='Top Secret QUEST 390 Project')
      meta(name='keywords', content='UMD, University of Maryland')
      meta(name='author', content='Kyle King')
      //- Open Graph protocol to make this shareable via facebook/social media:
      //- More info here: http://ogp.me
      meta(property='og:title', content='Top Secret QUEST 390 Project')
      meta(property='og:type', content='website')
      meta(property="og:image" content='icons/VitaLink-logo.gif')
      meta(property='og:url', content='http://kyleking.me')
      //- Place favicon.ico and apple-touch-icon.png in the root directory
      //- <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700', rel='stylesheet', type='text/css')/>
      //- <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')/>
      //- <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic', rel='stylesheet', type='text/css')/> 
      //- link(rel="shortcut icon" href="../favicon.ico")
body