<div class="row">
	<div class="col-md-6 col-sm-12 live-image vcenter">
		{{#if photo.found}}
		<img class="img-rounded" src="photos/{{photo.name}}" width="530" height="420" alt="Device Picture" />
		<h5 class="title text-center">Captured image of {{photo.title}}</h5>

		{{else}}
		<button type="button" class="btn btn-info">Capture a new image now</button>

		{{/if}}
	</div><!--
--><div class="col-md-6 col-sm-12 live-step vcenter">
		{{#if standings}}
			<h4 class="text-center">Live Status of Device Operation</h4>
			<!-- Create some useful buttons! -->
			<div class="text-center button-spacing">
				<button type="button" class="btn custom-button-formatting btn-success">Start</button>
				<button type="button" class="btn custom-button-formatting btn-info">Capture New Image</button>
				<button type="button" class="btn custom-button-formatting btn-danger">Stop</button>
			</div>
			<ul>

				{{#each standings}}
				<li class="{{this.status}}">
					<span class="title">{{this.title}}{{this.statusMessage}}</span>
				</li>

				{{/each}}
			</ul>
		{{/if}}
	</div>
</div>
<!-- In Main.html -->
<!-- <script src="{{BROWSER_REFRESH_URL}}"></script> -->
