:root {
    --accent-1: #6FC6E6;
    --accent-2: #63B0CD;
    --color-1: #E7ECFF;
    --color-2: #D8DDEF;
    --color-3: #A0A4B8;
    --color-4: #282C34;
}

/* Shift div vertically */
.center-up {
  position: relative;
  top: -15vh;
}
