.password-group {
  margin: 0 5px;
  max-width: 400px;
  min-width: 250px;
  position: relative;
  width: 80vw;
}
input.password {
  background-color: var(--color-1);
  border: var(--color-2);
  border-radius: 4px;
  color: var(--color-3);
  font-size: 15px;
  height: 35px;
  max-width: 385px;
  min-width: 235px;
  padding: 5px 10px;
  position: relative;
  width: 98%;
}
input.password:active {
  background-color: var(--accent);
  border: var(--accent);
  outline: 0;
}
button.password-toggle {
  background: var(--color-2);
  border-radius: 4px;
  bottom: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 35px;
  padding: 7px;
  position: absolute;
  right: 5px;
}

button.sign-in {
  background-color: var(--accent);
  border: none;
  font-size: 15px;
  height: 45px;
  margin: 0 5px;
  padding: 5px 15px;
  position: relative;
}
