{
  "extends": "node-style-guide",
  "parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "script"
  },
  "env": {
    "browser": true,
    "node": true,
    "shared-node-browser": true
  },
  "rules": {
    "semi": 2
  }
}
