//- head
//-   meta(charset='utf-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1')
//-   meta(name='description' content='')
//-   meta(name='author' content='')
//-   title SB Admin 2 - Bootstrap Admin Theme
//-   //- Bootstrap Core CSS
//-   link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
//-   //- MetisMenu CSS
//-   link(href='../bower_components/metisMenu/dist/metisMenu.min.css' rel='stylesheet')
//-   //- Custom CSS
//-   link(href='../dist/css/sb-admin-2.css' rel='stylesheet')
//-   //- Custom Fonts
//-   link(href='../bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
//-   //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//-   //- WARNING: Respond.js doesn't work if you view the page via file://
//-   //if lt IE 9
//-     script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
//-     script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
//- body
template(name='icons')
    #page-wrapper
      .row
        .col-lg-12
          h1.page-header Icons
        //- /.col-lg-12
      //- /.row
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              | All available icons (font-awesome)
            .panel-body
              .row
                .fa.col-lg-3
                  p.fa.fa-glass  fa-glass
                  br
                  p.fa.fa-music  fa-music
                  br
                  p.fa.fa-search  fa-search
                  br
                  p.fa.fa-envelope-o  fa-envelope-o
                  br
                  p.fa.fa-heart  fa-heart
                  br
                  p.fa.fa-star  fa-star
                  br
                  p.fa.fa-star-o  fa-star-o
                  br
                  p.fa.fa-user  fa-user
                  br
                  p.fa.fa-film  fa-film
                  br
                  p.fa.fa-th-large  fa-th-large
                  br
                  p.fa.fa-th  fa-th
                  br
                  p.fa.fa-th-list  fa-th-list
                  br
                  p.fa.fa-check  fa-check
                  br
                  p.fa.fa-times  fa-times
                  br
                  p.fa.fa-search-plus  fa-search-plus
                  br
                  p.fa.fa-search-minus  fa-search-minus
                  br
                  p.fa.fa-power-off  fa-power-off
                  br
                  p.fa.fa-signal  fa-signal
                  br
                  p.fa.fa-gear  fa-gear
                  br
                  p.fa.fa-cog  fa-cog
                  br
                  p.fa.fa-trash-o  fa-trash-o
                  br
                  p.fa.fa-home  fa-home
                  br
                  p.fa.fa-file-o  fa-file-o
                  br
                  p.fa.fa-clock-o  fa-clock-o
                  br
                  p.fa.fa-road  fa-road
                  br
                  p.fa.fa-download  fa-download
                  br
                  p.fa.fa-arrow-circle-o-down  fa-arrow-circle-o-down
                  br
                  p.fa.fa-arrow-circle-o-up  fa-arrow-circle-o-up
                  br
                  p.fa.fa-inbox  fa-inbox
                  br
                  p.fa.fa-play-circle-o  fa-play-circle-o
                  br
                  p.fa.fa-rotate-right  fa-rotate-right
                  br
                  p.fa.fa-repeat  fa-repeat
                  br
                  p.fa.fa-refresh  fa-refresh
                  br
                  p.fa.fa-list-alt  fa-list-alt
                  br
                  p.fa.fa-lock  fa-lock
                  br
                  p.fa.fa-flag  fa-flag
                  br
                  p.fa.fa-headphones  fa-headphones
                  br
                  p.fa.fa-volume-off  fa-volume-off
                  br
                  p.fa.fa-volume-down  fa-volume-down
                  br
                  p.fa.fa-volume-up  fa-volume-up
                  br
                  p.fa.fa-qrcode  fa-qrcode
                  br
                  p.fa.fa-barcode  fa-barcode
                  br
                  p.fa.fa-tag  fa-tag
                  br
                  p.fa.fa-tags  fa-tags
                  br
                  p.fa.fa-book  fa-book
                  br
                  p.fa.fa-bookmark  fa-bookmark
                  br
                  p.fa.fa-print  fa-print
                  br
                  p.fa.fa-camera  fa-camera
                  br
                  p.fa.fa-font  fa-font
                  br
                  p.fa.fa-bold  fa-bold
                  br
                  p.fa.fa-italic  fa-italic
                  br
                  p.fa.fa-text-height  fa-text-height
                  br
                  p.fa.fa-text-width  fa-text-width
                  br
                  p.fa.fa-align-left  fa-align-left
                  br
                  p.fa.fa-align-center  fa-align-center
                  br
                  p.fa.fa-align-right  fa-align-right
                  br
                  p.fa.fa-align-justify  fa-align-justify
                  br
                  p.fa.fa-list  fa-list
                  br
                  p.fa.fa-dedent  fa-dedent
                  br
                  p.fa.fa-outdent  fa-outdent
                  br
                  p.fa.fa-indent  fa-indent
                  br
                  p.fa.fa-video-camera  fa-video-camera
                  br
                  p.fa.fa-photo  fa-photo
                  br
                  p.fa.fa-image  fa-image
                  br
                  p.fa.fa-picture-o  fa-picture-o
                  br
                  p.fa.fa-pencil  fa-pencil
                  br
                  p.fa.fa-map-marker  fa-map-marker
                  br
                  p.fa.fa-adjust  fa-adjust
                  br
                  p.fa.fa-tint  fa-tint
                  br
                  p.fa.fa-edit  fa-edit
                  br
                  p.fa.fa-pencil-square-o  fa-pencil-square-o
                  br
                  p.fa.fa-share-square-o  fa-share-square-o
                  br
                  p.fa.fa-check-square-o  fa-check-square-o
                  br
                  p.fa.fa-arrows  fa-arrows
                  br
                  p.fa.fa-step-backward  fa-step-backward
                  br
                  p.fa.fa-fast-backward  fa-fast-backward
                  br
                  p.fa.fa-backward  fa-backward
                  br
                  p.fa.fa-play  fa-play
                  br
                  p.fa.fa-pause  fa-pause
                  br
                  p.fa.fa-stop  fa-stop
                  br
                  p.fa.fa-forward  fa-forward
                  br
                  p.fa.fa-fast-forward  fa-fast-forward
                  br
                  p.fa.fa-step-forward  fa-step-forward
                  br
                  p.fa.fa-eject  fa-eject
                  br
                  p.fa.fa-chevron-left  fa-chevron-left
                  br
                  p.fa.fa-chevron-right  fa-chevron-right
                  br
                  p.fa.fa-plus-circle  fa-plus-circle
                  br
                  p.fa.fa-minus-circle  fa-minus-circle
                  br
                  p.fa.fa-times-circle  fa-times-circle
                  br
                  p.fa.fa-check-circle  fa-check-circle
                  br
                  p.fa.fa-question-circle  fa-question-circle
                  br
                  p.fa.fa-info-circle  fa-info-circle
                  br
                  p.fa.fa-crosshairs  fa-crosshairs
                  br
                  p.fa.fa-times-circle-o  fa-times-circle-o
                  br
                  p.fa.fa-check-circle-o  fa-check-circle-o
                  br
                  p.fa.fa-ban  fa-ban
                  br
                  p.fa.fa-arrow-left  fa-arrow-left
                  br
                  p.fa.fa-arrow-right  fa-arrow-right
                  br
                  p.fa.fa-arrow-up  fa-arrow-up
                  br
                  p.fa.fa-arrow-down  fa-arrow-down
                  br
                  p.fa.fa-mail-forward  fa-mail-forward
                  br
                  p.fa.fa-share  fa-share
                  br
                  p.fa.fa-expand  fa-expand
                  br
                  p.fa.fa-compress  fa-compress
                  br
                  p.fa.fa-plus  fa-plus
                  br
                  p.fa.fa-minus  fa-minus
                  br
                  p.fa.fa-asterisk  fa-asterisk
                  br
                  p.fa.fa-exclamation-circle  fa-exclamation-circle
                  br
                  p.fa.fa-gift  fa-gift
                  br
                  p.fa.fa-leaf  fa-leaf
                  br
                  p.fa.fa-fire  fa-fire
                  br
                  p.fa.fa-eye  fa-eye
                  br
                  p.fa.fa-eye-slash  fa-eye-slash
                  br
                  p.fa.fa-warning  fa-warning
                  br
                  p.fa.fa-exclamation-triangle  fa-exclamation-triangle
                  br
                  p.fa.fa-plane  fa-plane
                  br
                  p.fa.fa-calendar  fa-calendar
                  br
                  p.fa.fa-random  fa-random
                  br
                  p.fa.fa-comment  fa-comment
                  br
                  p.fa.fa-magnet  fa-magnet
                  br
                  p.fa.fa-chevron-up  fa-chevron-up
                  br
                  p.fa.fa-chevron-down  fa-chevron-down
                  br
                  p.fa.fa-retweet  fa-retweet
                  br
                  p.fa.fa-shopping-cart  fa-shopping-cart
                  br
                  p.fa.fa-folder  fa-folder
                  br
                  p.fa.fa-folder-open  fa-folder-open
                  br
                //- /.col-lg-6 (nested)
                .fa.col-lg-3
                  p.fa.fa-arrows-v  fa-arrows-v
                  br
                  p.fa.fa-arrows-h  fa-arrows-h
                  br
                  p.fa.fa-bar-chart-o  fa-bar-chart-o
                  br
                  p.fa.fa-twitter-square  fa-twitter-square
                  br
                  p.fa.fa-facebook-square  fa-facebook-square
                  br
                  p.fa.fa-camera-retro  fa-camera-retro
                  br
                  p.fa.fa-key  fa-key
                  br
                  p.fa.fa-gears  fa-gears
                  br
                  p.fa.fa-cogs  fa-cogs
                  br
                  p.fa.fa-comments  fa-comments
                  br
                  p.fa.fa-thumbs-o-up  fa-thumbs-o-up
                  br
                  p.fa.fa-thumbs-o-down  fa-thumbs-o-down
                  br
                  p.fa.fa-star-half  fa-star-half
                  br
                  p.fa.fa-heart-o  fa-heart-o
                  br
                  p.fa.fa-sign-out  fa-sign-out
                  br
                  p.fa.fa-linkedin-square  fa-linkedin-square
                  br
                  p.fa.fa-thumb-tack  fa-thumb-tack
                  br
                  p.fa.fa-external-link  fa-external-link
                  br
                  p.fa.fa-sign-in  fa-sign-in
                  br
                  p.fa.fa-trophy  fa-trophy
                  br
                  p.fa.fa-github-square  fa-github-square
                  br
                  p.fa.fa-upload  fa-upload
                  br
                  p.fa.fa-lemon-o  fa-lemon-o
                  br
                  p.fa.fa-phone  fa-phone
                  br
                  p.fa.fa-square-o  fa-square-o
                  br
                  p.fa.fa-bookmark-o  fa-bookmark-o
                  br
                  p.fa.fa-phone-square  fa-phone-square
                  br
                  p.fa.fa-twitter  fa-twitter
                  br
                  p.fa.fa-facebook  fa-facebook
                  br
                  p.fa.fa-github  fa-github
                  br
                  p.fa.fa-unlock  fa-unlock
                  br
                  p.fa.fa-credit-card  fa-credit-card
                  br
                  p.fa.fa-rss  fa-rss
                  br
                  p.fa.fa-hdd-o  fa-hdd-o
                  br
                  p.fa.fa-bullhorn  fa-bullhorn
                  br
                  p.fa.fa-bell  fa-bell
                  br
                  p.fa.fa-certificate  fa-certificate
                  br
                  p.fa.fa-hand-o-right  fa-hand-o-right
                  br
                  p.fa.fa-hand-o-left  fa-hand-o-left
                  br
                  p.fa.fa-hand-o-up  fa-hand-o-up
                  br
                  p.fa.fa-hand-o-down  fa-hand-o-down
                  br
                  p.fa.fa-arrow-circle-left  fa-arrow-circle-left
                  br
                  p.fa.fa-arrow-circle-right  fa-arrow-circle-right
                  br
                  p.fa.fa-arrow-circle-up  fa-arrow-circle-up
                  br
                  p.fa.fa-arrow-circle-down  fa-arrow-circle-down
                  br
                  p.fa.fa-globe  fa-globe
                  br
                  p.fa.fa-wrench  fa-wrench
                  br
                  p.fa.fa-tasks  fa-tasks
                  br
                  p.fa.fa-filter  fa-filter
                  br
                  p.fa.fa-briefcase  fa-briefcase
                  br
                  p.fa.fa-arrows-alt  fa-arrows-alt
                  br
                  p.fa.fa-group  fa-group
                  br
                  p.fa.fa-users  fa-users
                  br
                  p.fa.fa-chain  fa-chain
                  br
                  p.fa.fa-link  fa-link
                  br
                  p.fa.fa-cloud  fa-cloud
                  br
                  p.fa.fa-flask  fa-flask
                  br
                  p.fa.fa-cut  fa-cut
                  br
                  p.fa.fa-scissors  fa-scissors
                  br
                  p.fa.fa-copy  fa-copy
                  br
                  p.fa.fa-files-o  fa-files-o
                  br
                  p.fa.fa-paperclip  fa-paperclip
                  br
                  p.fa.fa-save  fa-save
                  br
                  p.fa.fa-floppy-o  fa-floppy-o
                  br
                  p.fa.fa-square  fa-square
                  br
                  p.fa.fa-navicon  fa-navicon
                  br
                  p.fa.fa-reorder  fa-reorder
                  br
                  p.fa.fa-bars  fa-bars
                  br
                  p.fa.fa-list-ul  fa-list-ul
                  br
                  p.fa.fa-list-ol  fa-list-ol
                  br
                  p.fa.fa-strikethrough  fa-strikethrough
                  br
                  p.fa.fa-underline  fa-underline
                  br
                  p.fa.fa-table  fa-table
                  br
                  p.fa.fa-magic  fa-magic
                  br
                  p.fa.fa-truck  fa-truck
                  br
                  p.fa.fa-pinterest  fa-pinterest
                  br
                  p.fa.fa-pinterest-square  fa-pinterest-square
                  br
                  p.fa.fa-google-plus-square  fa-google-plus-square
                  br
                  p.fa.fa-google-plus  fa-google-plus
                  br
                  p.fa.fa-money  fa-money
                  br
                  p.fa.fa-caret-down  fa-caret-down
                  br
                  p.fa.fa-caret-up  fa-caret-up
                  br
                  p.fa.fa-caret-left  fa-caret-left
                  br
                  p.fa.fa-caret-right  fa-caret-right
                  br
                  p.fa.fa-columns  fa-columns
                  br
                  p.fa.fa-unsorted  fa-unsorted
                  br
                  p.fa.fa-sort  fa-sort
                  br
                  p.fa.fa-sort-down  fa-sort-down
                  br
                  p.fa.fa-sort-desc  fa-sort-desc
                  br
                  p.fa.fa-sort-up  fa-sort-up
                  br
                  p.fa.fa-sort-asc  fa-sort-asc
                  br
                  p.fa.fa-envelope  fa-envelope
                  br
                  p.fa.fa-linkedin  fa-linkedin
                  br
                  p.fa.fa-rotate-left  fa-rotate-left
                  br
                  p.fa.fa-undo  fa-undo
                  br
                  p.fa.fa-legal  fa-legal
                  br
                  p.fa.fa-gavel  fa-gavel
                  br
                  p.fa.fa-dashboard  fa-dashboard
                  br
                  p.fa.fa-tachometer  fa-tachometer
                  br
                  p.fa.fa-comment-o  fa-comment-o
                  br
                  p.fa.fa-comments-o  fa-comments-o
                  br
                  p.fa.fa-flash  fa-flash
                  br
                  p.fa.fa-bolt  fa-bolt
                  br
                  p.fa.fa-sitemap  fa-sitemap
                  br
                  p.fa.fa-umbrella  fa-umbrella
                  br
                  p.fa.fa-paste  fa-paste
                  br
                  p.fa.fa-clipboard  fa-clipboard
                  br
                  p.fa.fa-lightbulb-o  fa-lightbulb-o
                  br
                  p.fa.fa-exchange  fa-exchange
                  br
                  p.fa.fa-cloud-download  fa-cloud-download
                  br
                  p.fa.fa-cloud-upload  fa-cloud-upload
                  br
                  p.fa.fa-user-md  fa-user-md
                  br
                  p.fa.fa-stethoscope  fa-stethoscope
                  br
                  p.fa.fa-suitcase  fa-suitcase
                  br
                  p.fa.fa-bell-o  fa-bell-o
                  br
                  p.fa.fa-coffee  fa-coffee
                  br
                  p.fa.fa-cutlery  fa-cutlery
                  br
                  p.fa.fa-file-text-o  fa-file-text-o
                  br
                  p.fa.fa-building-o  fa-building-o
                  br
                  p.fa.fa-hospital-o  fa-hospital-o
                  br
                  p.fa.fa-ambulance  fa-ambulance
                  br
                  p.fa.fa-medkit  fa-medkit
                  br
                  p.fa.fa-fighter-jet  fa-fighter-jet
                  br
                  p.fa.fa-beer  fa-beer
                  br
                  p.fa.fa-h-square  fa-h-square
                  br
                  p.fa.fa-plus-square  fa-plus-square
                  br
                .fa.col-lg-3
                  p.fa.fa-angle-double-left  fa-angle-double-left
                  br
                  p.fa.fa-angle-double-right  fa-angle-double-right
                  br
                  p.fa.fa-angle-double-up  fa-angle-double-up
                  br
                  p.fa.fa-angle-double-down  fa-angle-double-down
                  br
                  p.fa.fa-angle-left  fa-angle-left
                  br
                  p.fa.fa-angle-right  fa-angle-right
                  br
                  p.fa.fa-angle-up  fa-angle-up
                  br
                  p.fa.fa-angle-down  fa-angle-down
                  br
                  p.fa.fa-desktop  fa-desktop
                  br
                  p.fa.fa-laptop  fa-laptop
                  br
                  p.fa.fa-tablet  fa-tablet
                  br
                  p.fa.fa-mobile-phone  fa-mobile-phone
                  br
                  p.fa.fa-mobile  fa-mobile
                  br
                  p.fa.fa-circle-o  fa-circle-o
                  br
                  p.fa.fa-quote-left  fa-quote-left
                  br
                  p.fa.fa-quote-right  fa-quote-right
                  br
                  p.fa.fa-spinner  fa-spinner
                  br
                  p.fa.fa-circle  fa-circle
                  br
                  p.fa.fa-mail-reply  fa-mail-reply
                  br
                  p.fa.fa-reply  fa-reply
                  br
                  p.fa.fa-github-alt  fa-github-alt
                  br
                  p.fa.fa-folder-o  fa-folder-o
                  br
                  p.fa.fa-folder-open-o  fa-folder-open-o
                  br
                  p.fa.fa-smile-o  fa-smile-o
                  br
                  p.fa.fa-frown-o  fa-frown-o
                  br
                  p.fa.fa-meh-o  fa-meh-o
                  br
                  p.fa.fa-gamepad  fa-gamepad
                  br
                  p.fa.fa-keyboard-o  fa-keyboard-o
                  br
                  p.fa.fa-flag-o  fa-flag-o
                  br
                  p.fa.fa-flag-checkered  fa-flag-checkered
                  br
                  p.fa.fa-terminal  fa-terminal
                  br
                  p.fa.fa-code  fa-code
                  br
                  p.fa.fa-mail-reply-all  fa-mail-reply-all
                  br
                  p.fa.fa-reply-all  fa-reply-all
                  br
                  p.fa.fa-star-half-empty  fa-star-half-empty
                  br
                  p.fa.fa-star-half-full  fa-star-half-full
                  br
                  p.fa.fa-star-half-o  fa-star-half-o
                  br
                  p.fa.fa-location-arrow  fa-location-arrow
                  br
                  p.fa.fa-crop  fa-crop
                  br
                  p.fa.fa-code-fork  fa-code-fork
                  br
                  p.fa.fa-unlink  fa-unlink
                  br
                  p.fa.fa-chain-broken  fa-chain-broken
                  br
                  p.fa.fa-question  fa-question
                  br
                  p.fa.fa-info  fa-info
                  br
                  p.fa.fa-exclamation  fa-exclamation
                  br
                  p.fa.fa-superscript  fa-superscript
                  br
                  p.fa.fa-subscript  fa-subscript
                  br
                  p.fa.fa-eraser  fa-eraser
                  br
                  p.fa.fa-puzzle-piece  fa-puzzle-piece
                  br
                  p.fa.fa-microphone  fa-microphone
                  br
                  p.fa.fa-microphone-slash  fa-microphone-slash
                  br
                  p.fa.fa-shield  fa-shield
                  br
                  p.fa.fa-calendar-o  fa-calendar-o
                  br
                  p.fa.fa-fire-extinguisher  fa-fire-extinguisher
                  br
                  p.fa.fa-rocket  fa-rocket
                  br
                  p.fa.fa-maxcdn  fa-maxcdn
                  br
                  p.fa.fa-chevron-circle-left  fa-chevron-circle-left
                  br
                  p.fa.fa-chevron-circle-right  fa-chevron-circle-right
                  br
                  p.fa.fa-chevron-circle-up  fa-chevron-circle-up
                  br
                  p.fa.fa-chevron-circle-down  fa-chevron-circle-down
                  br
                  p.fa.fa-html5  fa-html5
                  br
                  p.fa.fa-css3  fa-css3
                  br
                  p.fa.fa-anchor  fa-anchor
                  br
                  p.fa.fa-unlock-alt  fa-unlock-alt
                  br
                  p.fa.fa-bullseye  fa-bullseye
                  br
                  p.fa.fa-ellipsis-h  fa-ellipsis-h
                  br
                  p.fa.fa-ellipsis-v  fa-ellipsis-v
                  br
                  p.fa.fa-rss-square  fa-rss-square
                  br
                  p.fa.fa-play-circle  fa-play-circle
                  br
                  p.fa.fa-ticket  fa-ticket
                  br
                  p.fa.fa-minus-square  fa-minus-square
                  br
                  p.fa.fa-minus-square-o  fa-minus-square-o
                  br
                  p.fa.fa-level-up  fa-level-up
                  br
                  p.fa.fa-level-down  fa-level-down
                  br
                  p.fa.fa-check-square  fa-check-square
                  br
                  p.fa.fa-pencil-square  fa-pencil-square
                  br
                  p.fa.fa-external-link-square  fa-external-link-square
                  br
                  p.fa.fa-share-square  fa-share-square
                  br
                  p.fa.fa-compass  fa-compass
                  br
                  p.fa.fa-toggle-down  fa-toggle-down
                  br
                  p.fa.fa-caret-square-o-down  fa-caret-square-o-down
                  br
                  p.fa.fa-toggle-up  fa-toggle-up
                  br
                  p.fa.fa-caret-square-o-up  fa-caret-square-o-up
                  br
                  p.fa.fa-toggle-right  fa-toggle-right
                  br
                  p.fa.fa-caret-square-o-right  fa-caret-square-o-right
                  br
                  p.fa.fa-euro  fa-euro
                  br
                  p.fa.fa-eur  fa-eur
                  br
                  p.fa.fa-gbp  fa-gbp
                  br
                  p.fa.fa-dollar  fa-dollar
                  br
                  p.fa.fa-usd  fa-usd
                  br
                  p.fa.fa-rupee  fa-rupee
                  br
                  p.fa.fa-inr  fa-inr
                  br
                  p.fa.fa-cny  fa-cny
                  br
                  p.fa.fa-rmb  fa-rmb
                  br
                  p.fa.fa-yen  fa-yen
                  br
                  p.fa.fa-jpy  fa-jpy
                  br
                  p.fa.fa-ruble  fa-ruble
                  br
                  p.fa.fa-rouble  fa-rouble
                  br
                  p.fa.fa-rub  fa-rub
                  br
                  p.fa.fa-won  fa-won
                  br
                  p.fa.fa-krw  fa-krw
                  br
                  p.fa.fa-bitcoin  fa-bitcoin
                  br
                  p.fa.fa-btc  fa-btc
                  br
                  p.fa.fa-file  fa-file
                  br
                  p.fa.fa-file-text  fa-file-text
                  br
                  p.fa.fa-sort-alpha-asc  fa-sort-alpha-asc
                  br
                  p.fa.fa-sort-alpha-desc  fa-sort-alpha-desc
                  br
                  p.fa.fa-sort-amount-asc  fa-sort-amount-asc
                  br
                  p.fa.fa-sort-amount-desc  fa-sort-amount-desc
                  br
                  p.fa.fa-sort-numeric-asc  fa-sort-numeric-asc
                  br
                  p.fa.fa-sort-numeric-desc  fa-sort-numeric-desc
                  br
                  p.fa.fa-thumbs-up  fa-thumbs-up
                  br
                  p.fa.fa-thumbs-down  fa-thumbs-down
                  br
                  p.fa.fa-youtube-square  fa-youtube-square
                  br
                  p.fa.fa-youtube  fa-youtube
                  br
                  p.fa.fa-xing  fa-xing
                  br
                  p.fa.fa-xing-square  fa-xing-square
                  br
                  p.fa.fa-youtube-play  fa-youtube-play
                  br
                  p.fa.fa-dropbox  fa-dropbox
                  br
                  p.fa.fa-stack-overflow  fa-stack-overflow
                  br
                  p.fa.fa-instagram  fa-instagram
                  br
                  p.fa.fa-flickr  fa-flickr
                  br
                  p.fa.fa-adn  fa-adn
                  br
                  p.fa.fa-bitbucket  fa-bitbucket
                  br
                  p.fa.fa-bitbucket-square  fa-bitbucket-square
                  br
                  p.fa.fa-tumblr  fa-tumblr
                  br
                .fa.col-lg-3
                  p.fa.fa-tumblr-square  fa-tumblr-square
                  br
                  p.fa.fa-long-arrow-down  fa-long-arrow-down
                  br
                  p.fa.fa-long-arrow-up  fa-long-arrow-up
                  br
                  p.fa.fa-long-arrow-left  fa-long-arrow-left
                  br
                  p.fa.fa-long-arrow-right  fa-long-arrow-right
                  br
                  p.fa.fa-apple  fa-apple
                  br
                  p.fa.fa-windows  fa-windows
                  br
                  p.fa.fa-android  fa-android
                  br
                  p.fa.fa-linux  fa-linux
                  br
                  p.fa.fa-dribbble  fa-dribbble
                  br
                  p.fa.fa-skype  fa-skype
                  br
                  p.fa.fa-foursquare  fa-foursquare
                  br
                  p.fa.fa-trello  fa-trello
                  br
                  p.fa.fa-female  fa-female
                  br
                  p.fa.fa-male  fa-male
                  br
                  p.fa.fa-gittip  fa-gittip
                  br
                  p.fa.fa-sun-o  fa-sun-o
                  br
                  p.fa.fa-moon-o  fa-moon-o
                  br
                  p.fa.fa-archive  fa-archive
                  br
                  p.fa.fa-bug  fa-bug
                  br
                  p.fa.fa-vk  fa-vk
                  br
                  p.fa.fa-weibo  fa-weibo
                  br
                  p.fa.fa-renren  fa-renren
                  br
                  p.fa.fa-pagelines  fa-pagelines
                  br
                  p.fa.fa-stack-exchange  fa-stack-exchange
                  br
                  p.fa.fa-arrow-circle-o-right  fa-arrow-circle-o-right
                  br
                  p.fa.fa-arrow-circle-o-left  fa-arrow-circle-o-left
                  br
                  p.fa.fa-toggle-left  fa-toggle-left
                  br
                  p.fa.fa-caret-square-o-left  fa-caret-square-o-left
                  br
                  p.fa.fa-dot-circle-o  fa-dot-circle-o
                  br
                  p.fa.fa-wheelchair  fa-wheelchair
                  br
                  p.fa.fa-vimeo-square  fa-vimeo-square
                  br
                  p.fa.fa-turkish-lira  fa-turkish-lira
                  br
                  p.fa.fa-try  fa-try
                  br
                  p.fa.fa-plus-square-o  fa-plus-square-o
                  br
                  p.fa.fa-space-shuttle  fa-space-shuttle
                  br
                  p.fa.fa-slack  fa-slack
                  br
                  p.fa.fa-envelope-square  fa-envelope-square
                  br
                  p.fa.fa-wordpress  fa-wordpress
                  br
                  p.fa.fa-openid  fa-openid
                  br
                  p.fa.fa-institution  fa-institution
                  br
                  p.fa.fa-bank  fa-bank
                  br
                  p.fa.fa-university  fa-university
                  br
                  p.fa.fa-mortar-board  fa-mortar-board
                  br
                  p.fa.fa-graduation-cap  fa-graduation-cap
                  br
                  p.fa.fa-yahoo  fa-yahoo
                  br
                  p.fa.fa-google  fa-google
                  br
                  p.fa.fa-reddit  fa-reddit
                  br
                  p.fa.fa-reddit-square  fa-reddit-square
                  br
                  p.fa.fa-stumbleupon-circle  fa-stumbleupon-circle
                  br
                  p.fa.fa-stumbleupon  fa-stumbleupon
                  br
                  p.fa.fa-delicious  fa-delicious
                  br
                  p.fa.fa-digg  fa-digg
                  br
                  p.fa.fa-pied-piper-square  fa-pied-piper-square
                  br
                  p.fa.fa-pied-piper  fa-pied-piper
                  br
                  p.fa.fa-pied-piper-alt  fa-pied-piper-alt
                  br
                  p.fa.fa-drupal  fa-drupal
                  br
                  p.fa.fa-joomla  fa-joomla
                  br
                  p.fa.fa-language  fa-language
                  br
                  p.fa.fa-fax  fa-fax
                  br
                  p.fa.fa-building  fa-building
                  br
                  p.fa.fa-child  fa-child
                  br
                  p.fa.fa-paw  fa-paw
                  br
                  p.fa.fa-spoon  fa-spoon
                  br
                  p.fa.fa-cube  fa-cube
                  br
                  p.fa.fa-cubes  fa-cubes
                  br
                  p.fa.fa-behance  fa-behance
                  br
                  p.fa.fa-behance-square  fa-behance-square
                  br
                  p.fa.fa-steam  fa-steam
                  br
                  p.fa.fa-steam-square  fa-steam-square
                  br
                  p.fa.fa-recycle  fa-recycle
                  br
                  p.fa.fa-automobile  fa-automobile
                  br
                  p.fa.fa-car  fa-car
                  br
                  p.fa.fa-cab  fa-cab
                  br
                  p.fa.fa-taxi  fa-taxi
                  br
                  p.fa.fa-tree  fa-tree
                  br
                  p.fa.fa-spotify  fa-spotify
                  br
                  p.fa.fa-deviantart  fa-deviantart
                  br
                  p.fa.fa-soundcloud  fa-soundcloud
                  br
                  p.fa.fa-database  fa-database
                  br
                  p.fa.fa-file-pdf-o  fa-file-pdf-o
                  br
                  p.fa.fa-file-word-o  fa-file-word-o
                  br
                  p.fa.fa-file-excel-o  fa-file-excel-o
                  br
                  p.fa.fa-file-powerpoint-o  fa-file-powerpoint-o
                  br
                  p.fa.fa-file-photo-o  fa-file-photo-o
                  br
                  p.fa.fa-file-picture-o  fa-file-picture-o
                  br
                  p.fa.fa-file-image-o  fa-file-image-o
                  br
                  p.fa.fa-file-zip-o  fa-file-zip-o
                  br
                  p.fa.fa-file-archive-o  fa-file-archive-o
                  br
                  p.fa.fa-file-sound-o  fa-file-sound-o
                  br
                  p.fa.fa-file-audio-o  fa-file-audio-o
                  br
                  p.fa.fa-file-movie-o  fa-file-movie-o
                  br
                  p.fa.fa-file-video-o  fa-file-video-o
                  br
                  p.fa.fa-file-code-o  fa-file-code-o
                  br
                  p.fa.fa-vine  fa-vine
                  br
                  p.fa.fa-codepen  fa-codepen
                  br
                  p.fa.fa-jsfiddle  fa-jsfiddle
                  br
                  p.fa.fa-life-bouy  fa-life-bouy
                  br
                  p.fa.fa-life-saver  fa-life-saver
                  br
                  p.fa.fa-support  fa-support
                  br
                  p.fa.fa-life-ring  fa-life-ring
                  br
                  p.fa.fa-circle-o-notch  fa-circle-o-notch
                  br
                  p.fa.fa-ra  fa-ra
                  br
                  p.fa.fa-rebel  fa-rebel
                  br
                  p.fa.fa-ge  fa-ge
                  br
                  p.fa.fa-empire  fa-empire
                  br
                  p.fa.fa-git-square  fa-git-square
                  br
                  p.fa.fa-git  fa-git
                  br
                  p.fa.fa-hacker-news  fa-hacker-news
                  br
                  p.fa.fa-tencent-weibo  fa-tencent-weibo
                  br
                  p.fa.fa-qq  fa-qq
                  br
                  p.fa.fa-wechat  fa-wechat
                  br
                  p.fa.fa-weixin  fa-weixin
                  br
                  p.fa.fa-send  fa-send
                  br
                  p.fa.fa-paper-plane  fa-paper-plane
                  br
                  p.fa.fa-send-o  fa-send-o
                  br
                  p.fa.fa-paper-plane-o  fa-paper-plane-o
                  br
                  p.fa.fa-history  fa-history
                  br
                  p.fa.fa-circle-thin  fa-circle-thin
                  br
                  p.fa.fa-header  fa-header
                  br
                  p.fa.fa-paragraph  fa-paragraph
                  br
                  p.fa.fa-sliders  fa-sliders
                  br
                  p.fa.fa-share-alt  fa-share-alt
                  br
                  p.fa.fa-share-alt-square  fa-share-alt-square
                  br
                  p.fa.fa-bomb  fa-bomb
                  br
                //- /.col-lg-6 (nested)
              //- /.row (nested)
            //- /.panel-body
          //- /.panel
        //- /.col-lg-12
      //- /.row
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              | All available icons (bootstrap)
            .panel-body
              .row
                .bs-glyphicons.col-lg-4
                  span.glyphicon.glyphicon-asterisk  glyphicon-asterisk
                  br
                  span.glyphicon.glyphicon-plus  glyphicon-plus
                  br
                  span.glyphicon.glyphicon-euro  glyphicon-euro
                  br
                  span.glyphicon.glyphicon-eur  glyphicon-eur
                  br
                  span.glyphicon.glyphicon-minus  glyphicon-minus
                  br
                  span.glyphicon.glyphicon-cloud  glyphicon-cloud
                  br
                  span.glyphicon.glyphicon-envelope  glyphicon-envelope
                  br
                  span.glyphicon.glyphicon-pencil  glyphicon-pencil
                  br
                  span.glyphicon.glyphicon-glass  glyphicon-glass
                  br
                  span.glyphicon.glyphicon-music  glyphicon-music
                  br
                  span.glyphicon.glyphicon-search  glyphicon-search
                  br
                  span.glyphicon.glyphicon-heart  glyphicon-heart
                  br
                  span.glyphicon.glyphicon-star  glyphicon-star
                  br
                  span.glyphicon.glyphicon-star-empty  glyphicon-star-empty
                  br
                  span.glyphicon.glyphicon-user  glyphicon-user
                  br
                  span.glyphicon.glyphicon-film  glyphicon-film
                  br
                  span.glyphicon.glyphicon-th-large  glyphicon-th-large
                  br
                  span.glyphicon.glyphicon-th  glyphicon-th
                  br
                  span.glyphicon.glyphicon-th-list  glyphicon-th-list
                  br
                  span.glyphicon.glyphicon-ok  glyphicon-ok
                  br
                  span.glyphicon.glyphicon-remove  glyphicon-remove
                  br
                  span.glyphicon.glyphicon-zoom-in  glyphicon-zoom-in
                  br
                  span.glyphicon.glyphicon-zoom-out  glyphicon-zoom-out
                  br
                  span.glyphicon.glyphicon-off  glyphicon-off
                  br
                  span.glyphicon.glyphicon-signal  glyphicon-signal
                  br
                  span.glyphicon.glyphicon-cog  glyphicon-cog
                  br
                  span.glyphicon.glyphicon-trash  glyphicon-trash
                  br
                  span.glyphicon.glyphicon-home  glyphicon-home
                  br
                  span.glyphicon.glyphicon-file  glyphicon-file
                  br
                  span.glyphicon.glyphicon-time  glyphicon-time
                  br
                  span.glyphicon.glyphicon-road  glyphicon-road
                  br
                  span.glyphicon.glyphicon-download-alt  glyphicon-download-alt
                  br
                  span.glyphicon.glyphicon-download  glyphicon-download
                  br
                  span.glyphicon.glyphicon-upload  glyphicon-upload
                  br
                  span.glyphicon.glyphicon-inbox  glyphicon-inbox
                  br
                  span.glyphicon.glyphicon-play-circle  glyphicon-play-circle
                  br
                  span.glyphicon.glyphicon-repeat  glyphicon-repeat
                  br
                  span.glyphicon.glyphicon-refresh  glyphicon-refresh
                  br
                  span.glyphicon.glyphicon-list-alt  glyphicon-list-alt
                  br
                  span.glyphicon.glyphicon-lock  glyphicon-lock
                  br
                  span.glyphicon.glyphicon-flag  glyphicon-flag
                  br
                  span.glyphicon.glyphicon-headphones  glyphicon-headphones
                  br
                  span.glyphicon.glyphicon-volume-off  glyphicon-volume-off
                  br
                  span.glyphicon.glyphicon-volume-down  glyphicon-volume-down
                  br
                  span.glyphicon.glyphicon-volume-up  glyphicon-volume-up
                  br
                  span.glyphicon.glyphicon-qrcode  glyphicon-qrcode
                  br
                  span.glyphicon.glyphicon-barcode  glyphicon-barcode
                  br
                  span.glyphicon.glyphicon-tag  glyphicon-tag
                  br
                  span.glyphicon.glyphicon-tags  glyphicon-tags
                  br
                  span.glyphicon.glyphicon-book  glyphicon-book
                  br
                  span.glyphicon.glyphicon-bookmark  glyphicon-bookmark
                  br
                  span.glyphicon.glyphicon-print  glyphicon-print
                  br
                  span.glyphicon.glyphicon-camera  glyphicon-camera
                  br
                  span.glyphicon.glyphicon-font  glyphicon-font
                  br
                  span.glyphicon.glyphicon-bold  glyphicon-bold
                  br
                  span.glyphicon.glyphicon-italic  glyphicon-italic
                  br
                  span.glyphicon.glyphicon-text-height  glyphicon-text-height
                  br
                  span.glyphicon.glyphicon-text-width  glyphicon-text-width
                  br
                  span.glyphicon.glyphicon-align-left  glyphicon-align-left
                  br
                  span.glyphicon.glyphicon-align-center  glyphicon-align-center
                  br
                  span.glyphicon.glyphicon-align-right  glyphicon-align-right
                  br
                  span.glyphicon.glyphicon-align-justify  glyphicon-align-justify
                  br
                  span.glyphicon.glyphicon-list  glyphicon-list
                  br
                  span.glyphicon.glyphicon-indent-left  glyphicon-indent-left
                  br
                  span.glyphicon.glyphicon-indent-right  glyphicon-indent-right
                  br
                  span.glyphicon.glyphicon-facetime-video  glyphicon-facetime-video
                  br
                  span.glyphicon.glyphicon-picture  glyphicon-picture
                  br
                  span.glyphicon.glyphicon-map-marker  glyphicon-map-marker
                  br
                  span.glyphicon.glyphicon-adjust  glyphicon-adjust
                  br
                  span.glyphicon.glyphicon-tint  glyphicon-tint
                  br
                  span.glyphicon.glyphicon-edit  glyphicon-edit
                  br
                  span.glyphicon.glyphicon-share  glyphicon-share
                  br
                  span.glyphicon.glyphicon-check  glyphicon-check
                  br
                  span.glyphicon.glyphicon-move  glyphicon-move
                  br
                  span.glyphicon.glyphicon-step-backward  glyphicon-step-backward
                  br
                  span.glyphicon.glyphicon-fast-backward  glyphicon-fast-backward
                  br
                  span.glyphicon.glyphicon-backward  glyphicon-backward
                  br
                  span.glyphicon.glyphicon-play  glyphicon-play
                  br
                  span.glyphicon.glyphicon-pause  glyphicon-pause
                  br
                  span.glyphicon.glyphicon-stop  glyphicon-stop
                  br
                  span.glyphicon.glyphicon-forward  glyphicon-forward
                  br
                  span.glyphicon.glyphicon-fast-forward  glyphicon-fast-forward
                  br
                  span.glyphicon.glyphicon-step-forward  glyphicon-step-forward
                  br
                  span.glyphicon.glyphicon-eject  glyphicon-eject
                  br
                  span.glyphicon.glyphicon-chevron-left  glyphicon-chevron-left
                  br
                  span.glyphicon.glyphicon-chevron-right  glyphicon-chevron-right
                  br
                  span.glyphicon.glyphicon-plus-sign  glyphicon-plus-sign
                  br
                .bs-glyphicons.col-lg-4
                  span.glyphicon.glyphicon-minus-sign  glyphicon-minus-sign
                  br
                  span.glyphicon.glyphicon-remove-sign  glyphicon-remove-sign
                  br
                  span.glyphicon.glyphicon-ok-sign  glyphicon-ok-sign
                  br
                  span.glyphicon.glyphicon-question-sign  glyphicon-question-sign
                  br
                  span.glyphicon.glyphicon-info-sign  glyphicon-info-sign
                  br
                  span.glyphicon.glyphicon-screenshot  glyphicon-screenshot
                  br
                  span.glyphicon.glyphicon-remove-circle  glyphicon-remove-circle
                  br
                  span.glyphicon.glyphicon-ok-circle  glyphicon-ok-circle
                  br
                  span.glyphicon.glyphicon-ban-circle  glyphicon-ban-circle
                  br
                  span.glyphicon.glyphicon-arrow-left  glyphicon-arrow-left
                  br
                  span.glyphicon.glyphicon-arrow-right  glyphicon-arrow-right
                  br
                  span.glyphicon.glyphicon-arrow-up  glyphicon-arrow-up
                  br
                  span.glyphicon.glyphicon-arrow-down  glyphicon-arrow-down
                  br
                  span.glyphicon.glyphicon-share-alt  glyphicon-share-alt
                  br
                  span.glyphicon.glyphicon-resize-full  glyphicon-resize-full
                  br
                  span.glyphicon.glyphicon-resize-small  glyphicon-resize-small
                  br
                  span.glyphicon.glyphicon-exclamation-sign  glyphicon-exclamation-sign
                  br
                  span.glyphicon.glyphicon-gift  glyphicon-gift
                  br
                  span.glyphicon.glyphicon-leaf  glyphicon-leaf
                  br
                  span.glyphicon.glyphicon-fire  glyphicon-fire
                  br
                  span.glyphicon.glyphicon-eye-open  glyphicon-eye-open
                  br
                  span.glyphicon.glyphicon-eye-close  glyphicon-eye-close
                  br
                  span.glyphicon.glyphicon-warning-sign  glyphicon-warning-sign
                  br
                  span.glyphicon.glyphicon-plane  glyphicon-plane
                  br
                  span.glyphicon.glyphicon-calendar  glyphicon-calendar
                  br
                  span.glyphicon.glyphicon-random  glyphicon-random
                  br
                  span.glyphicon.glyphicon-comment  glyphicon-comment
                  br
                  span.glyphicon.glyphicon-magnet  glyphicon-magnet
                  br
                  span.glyphicon.glyphicon-chevron-up  glyphicon-chevron-up
                  br
                  span.glyphicon.glyphicon-chevron-down  glyphicon-chevron-down
                  br
                  span.glyphicon.glyphicon-retweet  glyphicon-retweet
                  br
                  span.glyphicon.glyphicon-shopping-cart  glyphicon-shopping-cart
                  br
                  span.glyphicon.glyphicon-folder-close  glyphicon-folder-close
                  br
                  span.glyphicon.glyphicon-folder-open  glyphicon-folder-open
                  br
                  span.glyphicon.glyphicon-resize-vertical  glyphicon-resize-vertical
                  br
                  span.glyphicon.glyphicon-resize-horizontal  glyphicon-resize-horizontal
                  br
                  span.glyphicon.glyphicon-hdd  glyphicon-hdd
                  br
                  span.glyphicon.glyphicon-bullhorn  glyphicon-bullhorn
                  br
                  span.glyphicon.glyphicon-bell  glyphicon-bell
                  br
                  span.glyphicon.glyphicon-certificate  glyphicon-certificate
                  br
                  span.glyphicon.glyphicon-thumbs-up  glyphicon-thumbs-up
                  br
                  span.glyphicon.glyphicon-thumbs-down  glyphicon-thumbs-down
                  br
                  span.glyphicon.glyphicon-hand-right  glyphicon-hand-right
                  br
                  span.glyphicon.glyphicon-hand-left  glyphicon-hand-left
                  br
                  span.glyphicon.glyphicon-hand-up  glyphicon-hand-up
                  br
                  span.glyphicon.glyphicon-hand-down  glyphicon-hand-down
                  br
                  span.glyphicon.glyphicon-circle-arrow-right  glyphicon-circle-arrow-right
                  br
                  span.glyphicon.glyphicon-circle-arrow-left  glyphicon-circle-arrow-left
                  br
                  span.glyphicon.glyphicon-circle-arrow-up  glyphicon-circle-arrow-up
                  br
                  span.glyphicon.glyphicon-circle-arrow-down  glyphicon-circle-arrow-down
                  br
                  span.glyphicon.glyphicon-globe  glyphicon-globe
                  br
                  span.glyphicon.glyphicon-wrench  glyphicon-wrench
                  br
                  span.glyphicon.glyphicon-tasks  glyphicon-tasks
                  br
                  span.glyphicon.glyphicon-filter  glyphicon-filter
                  br
                  span.glyphicon.glyphicon-briefcase  glyphicon-briefcase
                  br
                  span.glyphicon.glyphicon-fullscreen  glyphicon-fullscreen
                  br
                  span.glyphicon.glyphicon-dashboard  glyphicon-dashboard
                  br
                  span.glyphicon.glyphicon-paperclip  glyphicon-paperclip
                  br
                  span.glyphicon.glyphicon-heart-empty  glyphicon-heart-empty
                  br
                  span.glyphicon.glyphicon-link  glyphicon-link
                  br
                  span.glyphicon.glyphicon-phone  glyphicon-phone
                  br
                  span.glyphicon.glyphicon-pushpin  glyphicon-pushpin
                  br
                  span.glyphicon.glyphicon-usd  glyphicon-usd
                  br
                  span.glyphicon.glyphicon-gbp  glyphicon-gbp
                  br
                  span.glyphicon.glyphicon-sort  glyphicon-sort
                  br
                  span.glyphicon.glyphicon-sort-by-alphabet  glyphicon-sort-by-alphabet
                  br
                  span.glyphicon.glyphicon-sort-by-alphabet-alt  glyphicon-sort-by-alphabet-alt
                  br
                  span.glyphicon.glyphicon-sort-by-order  glyphicon-sort-by-order
                  br
                  span.glyphicon.glyphicon-sort-by-order-alt  glyphicon-sort-by-order-alt
                  br
                  span.glyphicon.glyphicon-sort-by-attributes  glyphicon-sort-by-attributes
                  br
                  span.glyphicon.glyphicon-sort-by-attributes-alt  glyphicon-sort-by-attributes-alt
                  br
                  span.glyphicon.glyphicon-unchecked  glyphicon-unchecked
                  br
                  span.glyphicon.glyphicon-expand  glyphicon-expand
                  br
                  span.glyphicon.glyphicon-collapse-down  glyphicon-collapse-down
                  br
                  span.glyphicon.glyphicon-collapse-up  glyphicon-collapse-up
                  br
                  span.glyphicon.glyphicon-log-in  glyphicon-log-in
                  br
                  span.glyphicon.glyphicon-flash  glyphicon-flash
                  br
                  span.glyphicon.glyphicon-log-out  glyphicon-log-out
                  br
                  span.glyphicon.glyphicon-new-window  glyphicon-new-window
                  br
                  span.glyphicon.glyphicon-record  glyphicon-record
                  br
                  span.glyphicon.glyphicon-save  glyphicon-save
                  br
                  span.glyphicon.glyphicon-open  glyphicon-open
                  br
                  span.glyphicon.glyphicon-saved  glyphicon-saved
                  br
                  span.glyphicon.glyphicon-import  glyphicon-import
                  br
                  span.glyphicon.glyphicon-export  glyphicon-export
                  br
                  span.glyphicon.glyphicon-send  glyphicon-send
                  br
                .bs-glyphicons.col-lg-4
                  span.glyphicon.glyphicon-floppy-disk  glyphicon-floppy-disk
                  br
                  span.glyphicon.glyphicon-floppy-saved  glyphicon-floppy-saved
                  br
                  span.glyphicon.glyphicon-floppy-remove  glyphicon-floppy-remove
                  br
                  span.glyphicon.glyphicon-floppy-save  glyphicon-floppy-save
                  br
                  span.glyphicon.glyphicon-floppy-open  glyphicon-floppy-open
                  br
                  span.glyphicon.glyphicon-credit-card  glyphicon-credit-card
                  br
                  span.glyphicon.glyphicon-transfer  glyphicon-transfer
                  br
                  span.glyphicon.glyphicon-cutlery  glyphicon-cutlery
                  br
                  span.glyphicon.glyphicon-header  glyphicon-header
                  br
                  span.glyphicon.glyphicon-compressed  glyphicon-compressed
                  br
                  span.glyphicon.glyphicon-earphone  glyphicon-earphone
                  br
                  span.glyphicon.glyphicon-phone-alt  glyphicon-phone-alt
                  br
                  span.glyphicon.glyphicon-tower  glyphicon-tower
                  br
                  span.glyphicon.glyphicon-stats  glyphicon-stats
                  br
                  span.glyphicon.glyphicon-sd-video  glyphicon-sd-video
                  br
                  span.glyphicon.glyphicon-hd-video  glyphicon-hd-video
                  br
                  span.glyphicon.glyphicon-subtitles  glyphicon-subtitles
                  br
                  span.glyphicon.glyphicon-sound-stereo  glyphicon-sound-stereo
                  br
                  span.glyphicon.glyphicon-sound-dolby  glyphicon-sound-dolby
                  br
                  span.glyphicon.glyphicon-sound-5-1  glyphicon-sound-5-1
                  br
                  span.glyphicon.glyphicon-sound-6-1  glyphicon-sound-6-1
                  br
                  span.glyphicon.glyphicon-sound-7-1  glyphicon-sound-7-1
                  br
                  span.glyphicon.glyphicon-copyright-mark  glyphicon-copyright-mark
                  br
                  span.glyphicon.glyphicon-registration-mark  glyphicon-registration-mark
                  br
                  span.glyphicon.glyphicon-cloud-download  glyphicon-cloud-download
                  br
                  span.glyphicon.glyphicon-cloud-upload  glyphicon-cloud-upload
                  br
                  span.glyphicon.glyphicon-tree-conifer  glyphicon-tree-conifer
                  br
                  span.glyphicon.glyphicon-tree-deciduous  glyphicon-tree-deciduous
                  br
                  span.glyphicon.glyphicon-cd  glyphicon-cd
                  br
                  span.glyphicon.glyphicon-save-file  glyphicon-save-file
                  br
                  span.glyphicon.glyphicon-open-file  glyphicon-open-file
                  br
                  span.glyphicon.glyphicon-level-up  glyphicon-level-up
                  br
                  span.glyphicon.glyphicon-copy  glyphicon-copy
                  br
                  span.glyphicon.glyphicon-paste  glyphicon-paste
                  br
                  span.glyphicon.glyphicon-alert  glyphicon-alert
                  br
                  span.glyphicon.glyphicon-equalizer  glyphicon-equalizer
                  br
                  span.glyphicon.glyphicon-king  glyphicon-king
                  br
                  span.glyphicon.glyphicon-queen  glyphicon-queen
                  br
                  span.glyphicon.glyphicon-pawn  glyphicon-pawn
                  br
                  span.glyphicon.glyphicon-bishop  glyphicon-bishop
                  br
                  span.glyphicon.glyphicon-knight  glyphicon-knight
                  br
                  span.glyphicon.glyphicon-baby-formula  glyphicon-baby-formula
                  br
                  span.glyphicon.glyphicon-tent  glyphicon-tent
                  br
                  span.glyphicon.glyphicon-blackboard  glyphicon-blackboard
                  br
                  span.glyphicon.glyphicon-bed  glyphicon-bed
                  br
                  span.glyphicon.glyphicon-apple  glyphicon-apple
                  br
                  span.glyphicon.glyphicon-erase  glyphicon-erase
                  br
                  span.glyphicon.glyphicon-hourglass  glyphicon-hourglass
                  br
                  span.glyphicon.glyphicon-lamp  glyphicon-lamp
                  br
                  span.glyphicon.glyphicon-duplicate  glyphicon-duplicate
                  br
                  span.glyphicon.glyphicon-piggy-bank  glyphicon-piggy-bank
                  br
                  span.glyphicon.glyphicon-scissors  glyphicon-scissors
                  br
                  span.glyphicon.glyphicon-bitcoin  glyphicon-bitcoin
                  br
                  span.glyphicon.glyphicon-yen  glyphicon-yen
                  br
                  span.glyphicon.glyphicon-ruble  glyphicon-ruble
                  br
                  span.glyphicon.glyphicon-scale  glyphicon-scale
                  br
                  span.glyphicon.glyphicon-ice-lolly  glyphicon-ice-lolly
                  br
                  span.glyphicon.glyphicon-ice-lolly-tasted  glyphicon-ice-lolly-tasted
                  br
                  span.glyphicon.glyphicon-education  glyphicon-education
                  br
                  span.glyphicon.glyphicon-option-horizontal  glyphicon-option-horizontal
                  br
                  span.glyphicon.glyphicon-option-vertical  glyphicon-option-vertical
                  br
                  span.glyphicon.glyphicon-menu-hamburger  glyphicon-menu-hamburger
                  br
                  span.glyphicon.glyphicon-modal-window  glyphicon-modal-window
                  br
                  span.glyphicon.glyphicon-oil  glyphicon-oil
                  br
                  span.glyphicon.glyphicon-grain  glyphicon-grain
                  br
                  span.glyphicon.glyphicon-sunglasses  glyphicon-sunglasses
                  br
                  span.glyphicon.glyphicon-text-size  glyphicon-text-size
                  br
                  span.glyphicon.glyphicon-text-color  glyphicon-text-color
                  br
                  span.glyphicon.glyphicon-text-background  glyphicon-text-background
                  br
                  span.glyphicon.glyphicon-object-align-top  glyphicon-object-align-top
                  br
                  span.glyphicon.glyphicon-object-align-bottom  glyphicon-object-align-bottom
                  br
                  span.glyphicon.glyphicon-object-align-horizontal  glyphicon-object-align-horizontal
                  br
                  span.glyphicon.glyphicon-object-align-left  glyphicon-object-align-left
                  br
                  span.glyphicon.glyphicon-object-align-vertical  glyphicon-object-align-vertical
                  br
                  span.glyphicon.glyphicon-object-align-right  glyphicon-object-align-right
                  br
                  span.glyphicon.glyphicon-triangle-right  glyphicon-triangle-right
                  br
                  span.glyphicon.glyphicon-triangle-left  glyphicon-triangle-left
                  br
                  span.glyphicon.glyphicon-triangle-bottom  glyphicon-triangle-bottom
                  br
                  span.glyphicon.glyphicon-triangle-top  glyphicon-triangle-top
                  br
                  span.glyphicon.glyphicon-console  glyphicon-console
                  br
                  span.glyphicon.glyphicon-superscript  glyphicon-superscript
                  br
                  span.glyphicon.glyphicon-subscript  glyphicon-subscript
                  br
                  span.glyphicon.glyphicon-menu-left  glyphicon-menu-left
                  br
                  span.glyphicon.glyphicon-menu-right  glyphicon-menu-right
                  br
                  span.glyphicon.glyphicon-menu-down  glyphicon-menu-down
                  br
                  span.glyphicon.glyphicon-menu-up  glyphicon-menu-up
                  br
                //- /.col-lg-6 (nested)
              //- /.row (nested)
            //- /.panel-body
          //- /.panel
        //- /.col-lg-12
      //- /.row
    //- /#page-wrapper
  //- /#wrapper

  //- //- jQuery
  //- script(src='../bower_components/jquery/dist/jquery.min.js')
  //- //- Bootstrap Core JavaScript
  //- script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
  //- //- Metis Menu Plugin JavaScript
  //- script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
  //- //- Custom Theme JavaScript
  //- script(src='../dist/js/sb-admin-2.js')