extends jade-partials/layout-blocks-Kyle/layout
block content
  .intro-text
    h2 Kyle King
  //- include jade-partials/refills_examples-Kyle/spacing
  include jade-partials/refills_examples-Kyle/grid-items




