.modal_preview_link {
	color: red !important;
	/*padding: 100em !important;*/
}



.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
	color: red !important;
	background-color: green !important;

}


.Re-submit.Assignment {
	font-size: 15em !important;
}
