@import 'neat/neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Breakpoints
// $mobile: new-breakpoint(max-device-width 480px 4);
$mobile: new-breakpoint(max-width em(800) 4);
$tablet: new-breakpoint(min-width 480px max-width 800px 8);
$desktop: new-breakpoint(min-width em(800) 12);

/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
// #content_container {
//   margin: 0 auto;
//   overflow: auto;
//   padding: 50px 0;
//   max-width: 960px;
// }
// Read more: http://techtalk.virendrachandak.com/sticky-header-and-footer-using-css/#ixzz3AHgIeW3t
// Follow us: @virendrachandak on Twitter