<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Screw Pump Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="./favicon.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>

    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/client-socket.js"></script>

  </body>
</html>
