/*  Read about this page here: https://developer.chrome.com/extensions/content_scripts.html */

/*Make Columns full width so they stack*/
.button-column {
  width: 100% !important;
}

/* Universal Classes added/removed by jQuery*/
.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
.button {
  height: 100px;
  border: none !important;
  border-radius: 10px !important;
  margin-top: 15px !important;
  /*background-color: #F4F4F4 !important;*/
}
.myDescriptors {
  padding-top: 10px;
  font-size: 40px !important;
  color: white !important;
}

/*Add some fun colors*/
a.IN_FOR_DAY.primary-button {
  background-color: #9197AE !important;
}
a.OUT_FOR_DAY.primary-button {
  background-color: #B04D5F !important;
}
.fa {
  color: white;
}

/* Hide unnecessary buttons */
/*TIME_SHEET*/
.TIME_SHEET {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
/*LOGOUT*/
.LOGOUT.primary-button {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
