template(name='_header')
  #wrapper
    //- Navigation
    nav.navbar.navbar-default.navbar-static-top(role='navigation' style='margin-bottom: 0')
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="{{pathFor route='dashboard'}}") Meteor - SB Admin v2.0
      //- /.navbar-header
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#')
            i.fa.fa-envelope.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-messages
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                div
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a.text-center(href='#')
                strong Read All Messages
                i.fa.fa-angle-right
          //- /.dropdown-messages
        //- /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#')
            i.fa.fa-tasks.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-tasks
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  p
                    strong Task 1
                    span.pull-right.text-muted 40% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 40%')
                      span.sr-only 40% Complete (success)
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  p
                    strong Task 2
                    span.pull-right.text-muted 20% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-info(role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 20%')
                      span.sr-only 20% Complete
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  p
                    strong Task 3
                    span.pull-right.text-muted 60% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                      span.sr-only 60% Complete (warning)
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  p
                    strong Task 4
                    span.pull-right.text-muted 80% Complete
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%')
                      span.sr-only 80% Complete (danger)
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a.text-center(href='#')
                strong See All Tasks
                i.fa.fa-angle-right
          //- /.dropdown-tasks
        //- /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#')
            i.fa.fa-bell.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-alerts
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  i.fa.fa-comment.fa-fw
                  |  New Comment
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  i.fa.fa-twitter.fa-fw
                  |  3 New Followers
                  span.pull-right.text-muted.small 12 minutes ago
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  i.fa.fa-envelope.fa-fw
                  |  Message Sent
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  i.fa.fa-tasks.fa-fw
                  |  New Task
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                div
                  i.fa.fa-upload.fa-fw
                  |  Server Rebooted
                  span.pull-right.text-muted.small 4 minutes ago
            li.divider
            li(class="{{ isActiveRoute regex='#' }}")
              a.text-center(href='#')
                strong See All Alerts
                i.fa.fa-angle-right
          //- /.dropdown-alerts
        //- /.dropdown
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#')
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-user
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-user.fa-fw
                |  User Profile
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-gear.fa-fw
                |  Settings
            li.divider
            li(class="{{ isActiveRoute regex='logintemplate' }}")
              a(href="{{pathFor route='logintemplate' }}")
                i.fa.fa-sign-out.fa-fw
                |  Logout
          //- /.dropdown-user
        //- /.dropdown
      //- /.navbar-top-links
      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav
            li.sidebar-search
              .input-group.custom-search-form
                input.form-control(type='text' placeholder='Search...')
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    i.fa.fa-search
              //- /input-group
            li(class="{{ isActiveRoute regex='dashboard' }}")
              a(href="{{pathFor route='dashboard' }}")
                i.fa.fa-dashboard.fa-fw
                |  Dashboard
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-bar-chart-o.fa-fw
                |  Charts
                span.fa.arrow
              ul.nav.nav-second-level
                li(class="{{ isActiveRoute regex='flot' }}")
                  a(href="{{pathFor route='flot'}}") Flot Charts
                li(class="{{ isActiveRoute regex='morris' }}")
                  a(href="{{pathFor route='morris'}}") Morris.js Charts
              //- /.nav-second-level
            li(class="{{ isActiveRoute regex='tables' }}")
              a(href="{{pathFor route='tables' }}")
                i.fa.fa-table.fa-fw
                |  Tables
            li(class="{{ isActiveRoute regex='forms' }}")
              a(href="{{pathFor route='forms' }}")
                i.fa.fa-edit.fa-fw
                |  Forms
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-wrench.fa-fw
                |  UI Elements
                span.fa.arrow
              ul.nav.nav-second-level
                li(class="{{ isActiveRoute regex='panelswells' }}")
                  a(href="{{pathFor route='panelswells'}}") Panels and Wells
                li(class="{{ isActiveRoute regex='buttons' }}")
                  a(href="{{pathFor route='buttons'}}") Buttons
                li(class="{{ isActiveRoute regex='notifications' }}")
                  a(href="{{pathFor route='notifications'}}") Notifications
                li(class="{{ isActiveRoute regex='typography' }}")
                  a(href="{{pathFor route='typography'}}") Typography
                li(class="{{ isActiveRoute regex='icons' }}")
                  a(href="{{pathFor route='icons'}}")  Icons
                li(class="{{ isActiveRoute regex='grid' }}")
                  a(href="{{pathFor route='grid'}}") Grid
              //- /.nav-second-level
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-sitemap.fa-fw
                |  Multi-Level Dropdown
                span.fa.arrow
              ul.nav.nav-second-level
                li(class="{{ isActiveRoute regex='#' }}")
                  a(href='#') Second Level Item
                li(class="{{ isActiveRoute regex='#' }}")
                  a(href='#') Second Level Item
                li(class="{{ isActiveRoute regex='#' }}")
                  a(href='#')
                    | Third Level
                    span.fa.arrow
                  ul.nav.nav-third-level
                    li(class="{{ isActiveRoute regex='#' }}")
                      a(href='#') Third Level Item
                    li(class="{{ isActiveRoute regex='#' }}")
                      a(href='#') Third Level Item
                    li(class="{{ isActiveRoute regex='#' }}")
                      a(href='#') Third Level Item
                    li(class="{{ isActiveRoute regex='#' }}")
                      a(href='#') Third Level Item
                  //- /.nav-third-level
              //- /.nav-second-level
            li(class="{{ isActiveRoute regex='#' }}")
              a(href='#')
                i.fa.fa-files-o.fa-fw
                |  Sample Pages
                span.fa.arrow
              ul.nav.nav-second-level
                li(class="{{ isActiveRoute regex='blank' }}")
                  a(href="{{pathFor route='blank'}}") Blank Page
                li(class="{{ isActiveRoute regex='logintemplate' }}")
                  a(href="{{pathFor route='logintemplate'}}") Login Page
              //- /.nav-second-level
        //- /.sidebar-collapse
      //- /.navbar-static-side