<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Screw Pump Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Based on the cat-voting game guide at: http://tutorialzine.com/2014/01/nodejs-picture-voting-game-part-1/ -->
	</head>

	<body>
		<header>
			<h3 class="text-center">Super Advanced Microfluidic Controller</h3>
		</header>

		{{{body}}}

	</body>
</html>
