body
  //- .container
  //-   +bpNotificationsCheckbox
  //- .container
  //-   +bpNotificationsTest
  .container
    +base

template(name='base')
  h1 Enter New Event
  h6 &nbsp;
  +form
  hr
  h1 Recent Events
  each event
    +item

template(name='item')
  //- Display the Begin Time, Time of Process, Title, (afterward..) Completion (y/n), Summary
  h4(style="color:{{Color}};") [{{formatDate Begin 'MoreBasic'}}, {{formatDate End 'MoreBasic'}}] #{Content}

template(name='form')
  form
    //- input(type='checkbox' id='push-button')
    input(type='text' name='Input' checked="checked")
    input(type='submit' value='StartPom')
