/* ------------------------------------------------------------
               Bourbon.io framework
               Docs:
                http://bourbon.io/docs/
                http://neat.bourbon.io/docs/#variables
                https://github.com/thoughtbot/bitters
------------------------------------------------------------*/

// Flat colors
@import '_custom/_flat-colors';

// Import files for Bourbon
@import 'bourbon/bourbon';
@import 'base/grid-settings'; // Bourbon Neat Setup File
@import 'neat/neat';
@import 'base/base';

// Remove browser-imposed css
@import '_custom/normalize';

/* ------------------------------------------------------------
               Custom stylization
------------------------------------------------------------*/

// Universal Styles
@import '_custom/_general';
@import '_custom/_nav';

// Page styles
@import '_custom/_patient';
@import '_custom/_doctor';